.hidden {
  display: none;
}

/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
/* Common */

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list,
.address {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
  margin-bottom: 0px;
}

.logo-studio {
  color: #2e2f42;
}

header .logo {
  padding: 16px 0;
  display: block;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2e2f24;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  header .logo {
    padding: 24px 0;
    display: block;
    margin-right: 120px;
  }
  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
  }
  .navigation-list-link {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-list-item a:hover,
  .navigation-list-item a:focus {
    color: #fff;
    background-color: #404bbf;
    border-radius: 4px;
    outline: none;
  }

  .navigation-list-link.current {
    position: relative;
    color: #404bbf;
  }

  .navigation-list-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .navigation-list-link.current {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-list:hover,
  .navigation-list:focus,
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  header .logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .address-link {
    padding: 24 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2000;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  color: #404bbf;
}
.mobile-menu-nav-link.current {
  color: #404bbf;
}

.mobile-menu-address {
  margin-bottom: 48px;
  font-style: normal;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
  color: #404bbf;
}
.mobile-menu-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.mobile-menu-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
  background-color: #404bbf;
}
.mobile-menu-social-icon {
  fill: #fff;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* Introduction */
.introduction.section {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobile-intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #2e2f42;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

@media (min-resolution: 2dppx) {
  .introduction.section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-introx2.jpg);
  }
}

.introduction .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0;
  box-sizing: border-box;
  gap: 48px;
}

.introduction-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
  max-width: 216px;
  margin: 0;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 56px;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0, 15);
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
  color: #fff;
  outline: none;
}
/* intro tablet */
@media screen and (min-width: 768px) {
  .introduction.section {
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-intro.jpg);
  }
  .introduction .container {
    padding: 112px 0;
  }
  .introduction-title {
    font-size: 56px;
    max-width: 496px;
    margin: 0 0 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .introduction.section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-introx2.jpg);
  }
}

/* intro desktop */

@media screen and (min-width: 1158px) {
  .introduction.section {
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/introduction.jpg);
  }

  .introduction .container {
    padding: 188px 0;
  }
  .introduction-title {
    font-size: 56px;
    max-width: 496px;
    margin: 0 0 48px;
  }
  @media screen and (min-width: 1158px) and (min-resolution: 2dppx) {
    .introduction.section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/introx2.jpg);
    }
  }
}

/* Features */

.features {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.features-list-item {
  width: 100%;
  max-width: 264px;
}

.features-icon-box {
  display: none;
}

.features-icon {
  width: 64px;
  height: 64px;
}

.features-item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-item-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: start;
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .features {
    padding: 96px 0;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: center;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
    max-width: none;
  }

  .features-item-title {
    text-align: start;
  }

  .features-item-description {
    font-weight: 400;
    max-width: none;
  }
}

@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }

  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
  }

  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .features-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 112px;
  }

  .features-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .features-item-description {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

/* Our Team */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.container .team-list {
  margin: 0 auto;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 264px;
  row-gap: 72px;
}

.team-list-item {
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.team-list-item:first-child {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-card-text {
  padding: 32px 0;
}

.team-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-position {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: var(--color-svg);
}

@media screen and (min-width: 768px) {
  .team {
    padding: 96px 0;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 552px;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    max-width: 1158px;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
}
/* Portfolio */

.portfolio {
  color: #434455;
  font-size: 36px;
  line-height: 1.11;
  padding: 96px 0;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
}

.portfolio-list-item {
  position: relative;
  overflow: hidden;
}

.thumb-card {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  display: none;
  color: #fff;
}

.portfolio-item-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-weight: 500;
  }

  .portfolio-list {
    column-gap: 24px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: transform 250ms ease-in-out,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover,
  .portfolio-list-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .thumb-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: block;
  }

  .portfolio-list-item:hover .thumb-text,
  .portfolio-list-item:focus .thumb-text {
    transform: translateY(0%);
  }

  .portfolio-item-content {
    transition: transform 250ms ease-in-out;
  }

  .portfolio-item-content:hover,
  .portfolio-item-content:focus {
    cursor: pointer;
  }
}

/* Footer */

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 96px 0;
  width: 100%;
}

.footer-container {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 72px;
  text-align: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  color: #4d5ae5;
  margin-bottom: 18px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  letter-spacing: 0.02em;
  text-align: start;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

.footer-social-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
  cursor: pointer;
}

.footer-social-icon {
  fill: var(--color-svg);
}

.subscribe-box {
  text-align: center;
}

.subscribe-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}

.subscribe-input::placeholder {
  color: #fff;
}

.subscribe-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: baseline;
    text-align: left;
    padding-left: 108px;
  }

  .footer-text {
    max-width: 264px;
    text-align: start;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .footer-logo {
    margin-bottom: 16px;
  }

  .subscribe-input {
    width: 264px;
  }
  .form-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    max-width: 1158px;
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }

  .footer-text {
    max-width: 264px;
  }

  .subscribe-form {
    align-items: flex-end;
    gap: 24px;
  }
  .form-title {
    text-align: left;
  }
}

/* Modal form */
.modal-window {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  min-width: 288px;
  min-height: 623px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modal-close-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label-box {
  position: relative;
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-box {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.placeholder-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-box:focus-within .placeholder-icon {
  fill: #4d5ae5;
}

.modal-textarea-box {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-box {
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.accept-privacy-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.modal-checkbox-input.visually-hidden {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.icon-checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}
.modal-checkbox-input:checked + .icon-checkbox-span {
  background-color: #404bbf;
  border: none;
}
.modal-checkbox-input:checked + .icon-checkbox-span .icon-checkbox {
  fill: #fff;
}

.modal-privacy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.form-button,
.form-send-btn {
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  letter-spacing: 0.04em;
}
.form-button:hover,
.form-button:focus,
.form-send-btn:hover,
.form-send-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
    max-width: 408px;
    min-height: 584px;
  }
  .modal-close-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-button:hover,
  .modal-close-button:focus {
    background-color: #404bbf;
    border: none;
  }
  .icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-button:hover .icon-close,
  .modal-close-button:focus .icon-close {
    fill: #ffffff;
  }
}
